<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiniela Mundial 2014</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body ng-controller="loginCtrl">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Mundial 2014</a> 
            </div>
        </nav>   
		<!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
            <!-- <img src="assets/img/logo_brasil.gif" class="user-image img-responsive"/> -->
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
						<img src="assets/img/background.png" class="bck-image img-responsive"/>
						<h2 class="text-center" style="color:#088A08">Login</h2>   
					</div>
                </div>
                 <!-- /. ROW  -->
                <hr />
				<div class="row">
					<div class="col-md-12">
                    <!-- Form Elements -->
                        <div class="row">
							<div class="col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Usuario:</label>
                                        <input class="form-control" maxlength="30" ng-model="usuario.usuario"/>
										<br/>
										<label>Password:</label>
                                        <input type="password" maxlength="30" class="form-control" ng-model="usuario.password"/>
                                    </div>
									<br/>
                                    <button type="submit" class="btn btn-primary" ng-click="iniciaSesion(usuario)">Ingresar</button>
                                    <br/>
									<label class="control-label" for="inputError">{{mensaje}}</label>
								</form>
                                <br />
							</div>
                        </div>
					</div>
				</div>
			</div>
            <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<script src="../dist/angular/angular.js"></script>
	<script src="../controller/loginController.js"></script>
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
	
</body>
</html>
